div#root {
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

#root {
  max-width: 100%;
  width: 900px;
  margin: 2em auto;
  background: #fff;
  padding: 1em;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

* {
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #ddd;
}

#app {
    max-width: 100%;
    width: 900px;
    margin: 2em auto;
    background: white;
    padding: 1em;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #1abc9c;;
}

input, button {
    padding: 0.5em;
    margin: 2px;
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
input, button, div#app {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
input {
    border: 2px solid #16a085;
}

button {
    background: #16a085;
    color: #fff;
    border: none;
    padding: 0.7em;
}

button:last-of-type {
    margin-right: 0;
}

td:first-of-type {
    width: 100%;
}

th:last-of-type,
td:last-of-type {
    text-align: right;
}

th {
    text-align: left;
}

th, td {
    padding: 10px 0;
}

table {
    width: 100%;
}

.todo-table{
    background-color: #16a085 !important;
}

p.tutorial {
    padding: 10px;
    color: #222;
    background: #ecf0f1;
    text-align: center;
}

form.create-todo-form {
    border-bottom: 1px solid #ecf0f1;
    padding: 1em 0;
}

form.create-todo-form input {
    width: calc(100% - 50px);
}


tr.todo-not-completed td:first-of-type {
    color: #1abc9c;
}

tr.todo-completed td:first-of-type {
    color: #787878;
    text-decoration: line-through;
}

tr > td:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
}
button {
    cursor: pointer;
}

tr > td:first-of-type {
    width: calc(100% - 0px) !important;
}

tr > td > form > input {
    width: 100%;
}
.TodoTR{
    width: 100% !important;
}
.TodoTH1{
    width: 33.33% !important;
    padding-left: 10px;
}
.TodoTH2{
    width: 33.33% !important;
    text-align: center !important;
}
.TodoTH3{
    width: 33.33% !important;
    padding-right: 10px;
}
th.TodoTH2 {
    text-align: center !important;
}
.taskStatus {
    padding: 7px !important;
    background-color: green !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 10px !important;
}
.not-taskStatus{
    padding: 7px !important;
    background-color: #3F51B5 !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 10px !important;
}

.delete-btn, .cancel-btn {
    background-color: #e74c3c;
}

/* table css */

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2 !important;}
  
  #customers tr:hover {background-color: #ddd !important;}
  
  #customers th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    /* text-align: left !important; */
    background-color: #4CAF50 !important;
    color: white !important;
  }



  /* Select menu */

  .select-style {
    border: 1px solid #16a085;
    padding: 10px;
    width: 100% !important;
    border-radius: 3px;
    overflow: hidden;
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}